@page "/achats/index"

@using PontBascule.Model.Models
@using PontBascule.Model.DataAccess
@using System.Runtime.InteropServices.JavaScript
@using PontBascule.Data

@inject AchatsService AchatsCrud
<h3>Achats</h3>
<br/>

<button class="btn btn-primary" @onclick="() => Create()">Nouvelle opération</button>

<br />

@try
{
<table class="table" style="margin-top: 1%">
    <thead>
    <tr>
        <th>Num Bon</th>
        <th>Num Ticket</th>
        <th>Transporteur</th>
        <th>Matricule</th>
        <th>Date Operation</th>
        <th>Heure Operation</th>
       <th></th>   
    </tr>
    </thead>
    <tbody>
    @foreach (var achat in achatsList)
    {
        <tr>
        
            <td>@achat.NumBonA</td>
            <td>@achat.NumTicket</td>
            <td>@achat.Transporteur</td>
            <td>@achat.Mat</td>
            <td>@achat.DateOP.ToShortDateString()</td>
            <td>@achat.HeureOP</td>
            <td>     
                <button class="btn btn-primary" @onclick="() => Edit(achat)">Modifier</button>
                @*<button class="btn btn-danger" @onclick="() => DeleteBook(book.Id)">Delete</button>*@
            </td>
        </tr>
    }
    </tbody>
</table>

}catch  (Exception e)
{
    erreur = "erreur: " + e.Message;
}


<p>@erreur</p>



@code {
    private List<Achat> achatsList;
    private string erreur;
    protected override async Task OnInitializedAsync()
    {

        try
        {
            achatsList =  AchatsCrud.GetAchats();
        }
        catch (Exception e)
        {
            erreur = "erreur: " + e.Message;
        }
    }


    void Edit(Achat Achat)
    {

    }

    void Create()
    {
    NavigationManager.NavigateTo("/achats/create");
    } 
}
